/* branch test */

body {
  color: #555;
  font-family: Helvetica, Arial, sans-serif;
}

a {
  text-decoration: none;
  color: #555;
}

header nav a:last-child {
  color: rgb(240, 128, 146);
}

.fa-bars {
  color: rgb(155, 155, 155);
  font-size: 1.75rem;
}

.hidden {
  display: none;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 4rem;
}

#section-01 div h3,
#section-05 div h3 {
  text-transform: uppercase;
  color: rgb(240, 128, 146);
  font-weight: 700;
  font-size: medium;
  letter-spacing: 1px;
}

h1 {
  font-weight: 900;
  color: black;
  font-size: 3rem;
}

#section-01 {
  display: flex;
  margin: 4rem 4rem 0rem 4rem;
}

.pinkBalvonas img {
  overflow: hidden;
}

.pinkBalvonas {
  max-width: 300px;
}

p {
  font-size: 1.5rem;
  line-height: 2rem;
}

button {
  position: relative;
  border: 4px solid transparent;
  border-radius: 50px;
  background: white;
  background-clip: padding-box;
  padding: 10px;
  width: 11rem;
  height: 4.5rem;
  text-align: center;
  font-weight: bold;
  font-size: 1.25rem;
}

button::after {
  position: absolute;
  top: -4px;
  bottom: -4px;
  left: -4px;
  right: -4px;
  background: linear-gradient(
    90deg,
    rgba(223, 10, 154, 1) 0%,
    rgba(238, 32, 5, 1) 31%,
    rgba(181, 255, 0, 1) 100%
  );
  content: "";
  z-index: -1;
  border-radius: 50px;
}

#section-02 {
  background-image: url("./assets/assets/background.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 20rem;

  margin-bottom: 5rem;
  padding: 6rem 4rem 2rem 4rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

h2 {
  font-size: 3.75rem;
  font-weight: 500;
  color: black;
  margin-bottom: 0px;
  letter-spacing: 2px;
}

#section-02 p {
  width: 80%;
  padding-bottom: 0;
  margin-bottom: 0;
  color: black;
  line-height: 2.5rem;
}

#section-03 {
  margin: 4rem;
  padding-bottom: 2rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
  justify-content: center;
  align-items: center;
}

#section-04 {
  margin: 4rem;
}

#section-04 p {
  line-height: 2.5rem;
  letter-spacing: 1px;
  padding-bottom: 2rem;
}

#section-04 p a {
  text-decoration: underline;
  font-weight: 550;
}

#section-04 div figure {
  margin: 0;
  margin-bottom: 5rem;
}

#section-04 div figure:not(:last-child) {
  margin-right: 1rem;
}

h4,
h5,
h6,
span {
  margin: 0;
}

.nft-card div {
  background-color: rgb(240, 238, 238);
  width: 290px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

.nft-content-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px 0px 20px;
}

.nft-content-grid h2 {
  color: orangered;
  padding-bottom: 10px;
  font-weight: 300;
  font-size: 0.8rem;
  margin: 0;
}

.nft-content-grid h4 {
  color: #555;
  padding-bottom: 10px;
  font-weight: 300;
  font-size: 0.8rem;
  text-align: right;
}

.nft-content-grid h6 {
  font-size: 1.3rem;
  font-weight: 500;
  padding-bottom: 10px;
  color: black;
}
.nft-content-grid span {
  font-size: 1.3rem;
  font-weight: 500;
  padding-bottom: 13px;
  color: black;
  text-align: right;
  margin: 0;
}

.nft-content-grid h3 {
  color: #555;
  font-weight: 300;
  font-size: 1rem;
  margin: 0;
  padding-bottom: 17px;
}

.nft-content-grid h5 {
  color: #555;
  font-weight: 300;
  font-size: 1rem;
  margin: 0;
  text-align: right;
  padding-bottom: 20px;
}

.nft-card {
  display: inline-block;
  background-color: rgb(240, 238, 238);
  width: 290px;
  border-radius: 20px;
}

.nft-card:not(:last-child) {
  margin-right: 2rem;
}

#all-cards {
  overflow: auto;
  white-space: nowrap;
}

.skirtukas {
  border-bottom: 2px rgb(170, 166, 166) solid;
  opacity: 0.25;
  margin-bottom: 4rem;
}

#section-05 {
  height: 38rem;
  padding-left: 4rem;
  display: flex;
}

#section-05 div {
  align-self: flex-start;
  flex-grow: 1;
}

#section-05 img {
  align-self: flex-end;
  flex-grow: 1;
}

#section-05 div h2 {
  font-size: 3.75rem;
  font-weight: 900;
  color: black;
  letter-spacing: 1px;
  font-weight: 900;
  color: black;
}

#section-05 div h3 {
  text-transform: uppercase;
  color: rgb(240, 128, 146);
  font-weight: 700;
  font-size: medium;
  letter-spacing: 1px;
}

#section-05 div p {
  width: 70%;
  padding-bottom: 1rem;
}

#section-06 {
  padding-left: 4rem;
}

#section-06 p {
  font-size: 1.25rem;
}

.fa-brands {
  padding-right: 0.7rem;
  color: rgb(177, 174, 174);
  margin-bottom: 3rem;
  font-size: 1.5rem;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.footer-link-headline {
  font-weight: bold;
  padding-bottom: 1rem;
  padding-top: 0.5rem;
  text-transform: uppercase;
}

li {
  padding-bottom: 0.5rem;
  columns: #555;
  font-size: 1.25rem;
}

.footer-links {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
  margin-bottom: 5rem;
}

footer {
  color: rgb(194, 187, 187);
  padding-left: 4rem;
}

footer p {
  font-size: 1.2rem;
}

@media screen and (min-width: 768px) {
  .hidden {
    display: inline;
  }

  header nav a {
    padding-left: 1.5rem;
  }

  header {
    padding-right: 4rem;
  }

  .fa-bars {
    display: none;
  }

  #section-01 h1 {
    font-size: 5rem;
    width: 85%;
  }

  #section-01 div {
    align-self: center;
  }

  #section-01 div p {
    width: 75%;
    padding-bottom: 1rem;
  }

  #section-01 div img {
    align-self: center;
    justify-self: center;
  }

  .pinkBalvonas {
    max-width: 100%;
  }

  #section-02 {
    display: block;
    margin: 0rem 4rem 0rem 4rem;
    border-radius: 20px;
    background-size: contain;
    padding: 15rem 4rem 1rem 4rem;
  }

  #section-03 {
    display: flex;
    justify-content: space-between;
  }

  #section-04 p {
    padding-bottom: 0;
  }

  .h2 {
    font-size: 3rem;
    color: black;
    font-weight: bold;
  }

  #section-01 p,
  #section-02 p,
  #section-04 p,
  #section-05 p {
    font-size: 1.4rem;
    line-height: 2rem;
    letter-spacing: 1px;
  }

  #all-cards {
    display: flex;
    justify-content: space-between;
    padding-top: 2rem;
  }

  .skirtukas {
    margin-bottom: 8rem;
    margin-left: 4rem;
    margin-right: 4rem;
  }

  #section-05 img {
    max-height: 100%;
  }

  #section-05 {
    padding-bottom: 0;
  }

  #section-05 div p {
    padding-bottom: 2rem;
  }

  #section-06 {
    display: flex;
    justify-content: space-between;
    margin-right: 4rem;
  }

  .footer-links {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 4rem;
    margin-bottom: 5rem;
    opacity: 0.9;
    padding-right: 2rem;
  }

  .footer-links ul li {
    font-size: 1.2rem;
  }

  .footer-link-headline {
    font-weight: bold;
    padding-bottom: 1.4rem;
    padding-top: 0.5rem;
    text-transform: uppercase;
  }

  footer {
    color: rgb(194, 187, 187);
    padding-left: 4rem;
    display: flex;
    justify-content: space-between;
    margin-right: 4rem;
  }

  footer p {
    font-size: 1.25rem;
  }
}
